--<%= boundary %>
Content-type: application/atom+xml

<entry xmlns="http://www.w3.org/2005/Atom">
  <title><%= title %></title>
  <% if summary %>
  <summary><%= summary %></summary>
  <% end %>
  <% if access %>
  <gphoto:access><%= access =%></gphoto:access>
  <% end %>
  <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/photos/2007#photo"/>
</entry>
--<%= boundary %>
Content-type: <%= content_type %>

<%= binary %>
--<%= boundary %>
