<entry xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:gphoto="http://schemas.google.com/photos/2007">
  <title type="text"><%= title %></title>
  <% if summary %>
  <summary type="text"><%= summary %></summary>
  <% end %>
  <% if location %>
  <gphoto:location><%= location %></gphoto:location>
  <% end %>
  <% if access %>
  <gphoto:access><%= access %></gphoto:access>
  <% end %>
  <gphoto:timestamp><%= timestamp %></gphoto:timestamp>
  <% if keywords %>
  <media:group>
    <media:keywords><%= keywords %></media:keywords>
  </media:group>
  <% end %>
  <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/photos/2007#album"></category>
</entry>
